openapi: 3.0.0
info:
  title: 'Therapeutic Radiesthesia API'
  description: "`API para demonstrar endpoints básicos do sistema`<br>\n<ul>\n    <li>Essa documentação está sendo desenvolvida gradualmente, todos os endpoints estão passando por uma revisão.</li>\n    <li>Os endpoints que precisam estar com a autorização estão com um cadeado indicando o uso.</li>\n    <li>Para gerar o token, utilize o endpoint login.</li>\n    <li>Alguns endpoints estão bloqueados para o usuário `PROFISSIONAL` e `TERAPELTA_DE_SI`, peça a liberação para o desenvolvedor.</li>\n</ul>"
  version: 1.0.0
servers:
  -
    url: 'https://api.conect.app'
    description: 'Servidor online'
  -
    url: 'http://localhost:8000'
    description: 'Servidor local'
paths:
  /api/v1/anamneses:
    get:
      tags:
        - Anamneses
      summary: 'Listar todas as Anamneses'
      description: 'Retorna uma lista de clientes com paginação'
      operationId: 611a6437c376dac6f195d9fdef4f0993
      responses:
        '200':
          description: 'Lista de anamneses'
          content:
            application/json:
              schema:
                properties:
                  rows: { type: array, items: { type: object } }
                  pagination: { type: object }
                type: object
        '401':
          description: 'Token inválido ou ausente'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Anamneses
      summary: 'Criar nova Anamnese'
      description: 'Cria uma nova anamnese para o cliente com base nos dados fornecidos.'
      operationId: f26ea3690b8a2c40f6a386fccae9a645
      requestBody:
        description: 'Dados necessários para criar uma anamnese.'
        required: true
        content:
          application/json:
            schema:
              properties:
                idCustomer:
                  description: 'ID do cliente'
                  type: integer
                mentalDesequilibrio:
                  description: 'Desequilíbrio mental'
                  type: string
                  enum: [sim, não]
                mentalPercentual:
                  description: 'Percentual de desequilíbrio mental'
                  type: integer
                  maximum: 100
                  minimum: 0
                emocionalDesequilibrio:
                  description: 'Desequilíbrio emocional'
                  type: string
                  enum: [sim, não]
                emocionalPercentual:
                  description: 'Percentual de desequilíbrio emocional'
                  type: integer
                  maximum: 100
                  minimum: 0
                espiritualDesequilibrio:
                  description: 'Desequilíbrio espiritual'
                  type: string
                  enum: [sim, não]
                espiritualPercentual:
                  description: 'Percentual de desequilíbrio espiritual'
                  type: integer
                  maximum: 100
                  minimum: 0
                fisicoDesequilibrio:
                  description: 'Desequilíbrio físico'
                  type: string
                  enum: [sim, não]
                fisicoPercentual:
                  description: 'Percentual de desequilíbrio físico'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraCoronarioDesequilibrio:
                  description: 'Desequilíbrio do chakra coronário'
                  type: string
                  enum: [sim, não]
                chakraCoronarioPercentual:
                  description: 'Percentual de desequilíbrio do chakra coronário'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraCoronarioAtividade:
                  description: 'Atividade do chakra coronário'
                  type: string
                  enum: [HIPO, HIPER]
                chakraCoronarioOrgao:
                  description: 'Órgão afetado pelo chakra coronário'
                  type: string
                  enum: [sim, não]
                chakraFrontalDesequilibrio:
                  description: 'Desequilíbrio do chakra frontal'
                  type: string
                  enum: [sim, não]
                chakraFrontalPercentual:
                  description: 'Percentual de desequilíbrio do chakra frontal'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraFrontalAtividade:
                  description: 'Atividade do chakra frontal'
                  type: string
                  enum: [HIPO, HIPER]
                chakraFrontalOrgao:
                  description: 'Órgão afetado pelo chakra frontal'
                  type: string
                  enum: [sim, não]
                chakraLaringeoDesequilibrio:
                  description: 'Desequilíbrio do chakra laríngeo'
                  type: string
                  enum: [sim, não]
                chakraLaringeoPercentual:
                  description: 'Percentual de desequilíbrio do chakra laríngeo'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraLaringeoAtividade:
                  description: 'Atividade do chakra laríngeo'
                  type: string
                  enum: [HIPO, HIPER]
                chakraLaringeoOrgao:
                  description: 'Órgão afetado pelo chakra laríngeo'
                  type: string
                  enum: [sim, não]
                chakraCardiacoDesequilibrio:
                  description: 'Desequilíbrio do chakra cardíaco'
                  type: string
                  enum: [sim, não]
                chakraCardiacoPercentual:
                  description: 'Percentual de desequilíbrio do chakra cardíaco'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraCardiacoAtividade:
                  description: 'Atividade do chakra cardíaco'
                  type: string
                  enum: [HIPO, HIPER]
                chakraCardiacoOrgao:
                  description: 'Órgão afetado pelo chakra cardíaco'
                  type: string
                  enum: [sim, não]
                chakraPlexoSolarDesequilibrio:
                  description: 'Desequilíbrio do chakra plexo solar'
                  type: string
                  enum: [sim, não]
                chakraPlexoSolarPercentual:
                  description: 'Percentual de desequilíbrio do chakra plexo solar'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraPlexoSolarAtividade:
                  description: 'Atividade do chakra plexo solar'
                  type: string
                  enum: [HIPO, HIPER]
                chakraPlexoSolarOrgao:
                  description: 'Órgão afetado pelo chakra plexo solar'
                  type: string
                  enum: [sim, não]
                chakraSacroDesequilibrio:
                  description: 'Desequilíbrio do chakra sacro'
                  type: string
                  enum: [sim, não]
                chakraSacroPercentual:
                  description: 'Percentual de desequilíbrio do chakra sacro'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraSacroAtividade:
                  description: 'Atividade do chakra sacro'
                  type: string
                  enum: [HIPO, HIPER]
                chakraSacroOrgao:
                  description: 'Órgão afetado pelo chakra sacro'
                  type: string
                  enum: [sim, não]
                chakraBasicoDesequilibrio:
                  description: 'Desequilíbrio do chakra básico'
                  type: string
                  enum: [sim, não]
                chakraBasicoPercentual:
                  description: 'Percentual de desequilíbrio do chakra básico'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraBasicoAtividade:
                  description: 'Atividade do chakra básico'
                  type: string
                  enum: [HIPO, HIPER]
                chakraBasicoOrgao:
                  description: 'Órgão afetado pelo chakra básico'
                  type: string
                  enum: [sim, não]
                tamanhoAura:
                  description: 'Tamanho da aura'
                  type: integer
                  minimum: 0
                tamanhoAbertura:
                  description: 'Tamanho da abertura'
                  type: integer
                  minimum: 0
                corFalta:
                  description: 'Cores em falta'
                  type: array
                  items: { type: string }
                corExcesso:
                  description: 'Cores em excesso'
                  type: array
                  items: { type: string }
                energia:
                  description: 'Nível de energia'
                  type: integer
                  minimum: 0
                areasFamiliar:
                  description: 'Área familiar'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
                areasAfetivo:
                  description: 'Área afetiva'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
                areasProfissional:
                  description: 'Área profissional'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
                areasFinanceiro:
                  description: 'Área financeira'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
                areasMissao:
                  description: 'Área de missão'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
              type: object
      responses:
        '201':
          description: 'Anamnese criada com sucesso'
          content:
            application/json:
              schema:
                properties:
                  message: { description: 'Mensagem de sucesso', type: string }
                type: object
        '400':
          description: 'Requisição inválida'
        '422':
          description: 'Erros de validação'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
  '/api/v1/anamneses/{id}':
    get:
      tags:
        - Anamneses
      summary: 'Obter detalhes de uma anamnese'
      description: 'Retorna os detalhes de uma anamnese específica'
      operationId: 5e5bf56100b7ce399455f92ed6a031c9
      parameters:
        -
          name: id
          in: path
          description: 'ID da anamnese'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Detalhes da Anamnese'
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 'Token inválido ou ausente'
        '404':
          description: 'Anamnese não encontrada'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
    put:
      tags:
        - Anamneses
      summary: 'Edite uma Anamnese'
      description: 'Edite anamnese com base no ID fornecido na url.'
      operationId: 6750d05c3d1db3655160808c8e2137a3
      parameters:
        -
          name: id
          in: path
          description: 'ID da anamnese'
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Dados necessários para criar uma anamnese.'
        required: true
        content:
          application/json:
            schema:
              properties:
                mentalDesequilibrio:
                  description: 'Desequilíbrio mental'
                  type: string
                  enum: [sim, não]
                mentalPercentual:
                  description: 'Percentual de desequilíbrio mental'
                  type: integer
                  maximum: 100
                  minimum: 0
                emocionalDesequilibrio:
                  description: 'Desequilíbrio emocional'
                  type: string
                  enum: [sim, não]
                emocionalPercentual:
                  description: 'Percentual de desequilíbrio emocional'
                  type: integer
                  maximum: 100
                  minimum: 0
                espiritualDesequilibrio:
                  description: 'Desequilíbrio espiritual'
                  type: string
                  enum: [sim, não]
                espiritualPercentual:
                  description: 'Percentual de desequilíbrio espiritual'
                  type: integer
                  maximum: 100
                  minimum: 0
                fisicoDesequilibrio:
                  description: 'Desequilíbrio físico'
                  type: string
                  enum: [sim, não]
                fisicoPercentual:
                  description: 'Percentual de desequilíbrio físico'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraCoronarioDesequilibrio:
                  description: 'Desequilíbrio do chakra coronário'
                  type: string
                  enum: [sim, não]
                chakraCoronarioPercentual:
                  description: 'Percentual de desequilíbrio do chakra coronário'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraCoronarioAtividade:
                  description: 'Atividade do chakra coronário'
                  type: string
                  enum: [HIPO, HIPER]
                chakraCoronarioOrgao:
                  description: 'Órgão afetado pelo chakra coronário'
                  type: string
                  enum: [sim, não]
                chakraFrontalDesequilibrio:
                  description: 'Desequilíbrio do chakra frontal'
                  type: string
                  enum: [sim, não]
                chakraFrontalPercentual:
                  description: 'Percentual de desequilíbrio do chakra frontal'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraFrontalAtividade:
                  description: 'Atividade do chakra frontal'
                  type: string
                  enum: [HIPO, HIPER]
                chakraFrontalOrgao:
                  description: 'Órgão afetado pelo chakra frontal'
                  type: string
                  enum: [sim, não]
                chakraLaringeoDesequilibrio:
                  description: 'Desequilíbrio do chakra laríngeo'
                  type: string
                  enum: [sim, não]
                chakraLaringeoPercentual:
                  description: 'Percentual de desequilíbrio do chakra laríngeo'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraLaringeoAtividade:
                  description: 'Atividade do chakra laríngeo'
                  type: string
                  enum: [HIPO, HIPER]
                chakraLaringeoOrgao:
                  description: 'Órgão afetado pelo chakra laríngeo'
                  type: string
                  enum: [sim, não]
                chakraCardiacoDesequilibrio:
                  description: 'Desequilíbrio do chakra cardíaco'
                  type: string
                  enum: [sim, não]
                chakraCardiacoPercentual:
                  description: 'Percentual de desequilíbrio do chakra cardíaco'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraCardiacoAtividade:
                  description: 'Atividade do chakra cardíaco'
                  type: string
                  enum: [HIPO, HIPER]
                chakraCardiacoOrgao:
                  description: 'Órgão afetado pelo chakra cardíaco'
                  type: string
                  enum: [sim, não]
                chakraPlexoSolarDesequilibrio:
                  description: 'Desequilíbrio do chakra plexo solar'
                  type: string
                  enum: [sim, não]
                chakraPlexoSolarPercentual:
                  description: 'Percentual de desequilíbrio do chakra plexo solar'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraPlexoSolarAtividade:
                  description: 'Atividade do chakra plexo solar'
                  type: string
                  enum: [HIPO, HIPER]
                chakraPlexoSolarOrgao:
                  description: 'Órgão afetado pelo chakra plexo solar'
                  type: string
                  enum: [sim, não]
                chakraSacroDesequilibrio:
                  description: 'Desequilíbrio do chakra sacro'
                  type: string
                  enum: [sim, não]
                chakraSacroPercentual:
                  description: 'Percentual de desequilíbrio do chakra sacro'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraSacroAtividade:
                  description: 'Atividade do chakra sacro'
                  type: string
                  enum: [HIPO, HIPER]
                chakraSacroOrgao:
                  description: 'Órgão afetado pelo chakra sacro'
                  type: string
                  enum: [sim, não]
                chakraBasicoDesequilibrio:
                  description: 'Desequilíbrio do chakra básico'
                  type: string
                  enum: [sim, não]
                chakraBasicoPercentual:
                  description: 'Percentual de desequilíbrio do chakra básico'
                  type: integer
                  maximum: 100
                  minimum: 0
                chakraBasicoAtividade:
                  description: 'Atividade do chakra básico'
                  type: string
                  enum: [HIPO, HIPER]
                chakraBasicoOrgao:
                  description: 'Órgão afetado pelo chakra básico'
                  type: string
                  enum: [sim, não]
                tamanhoAura:
                  description: 'Tamanho da aura'
                  type: integer
                  minimum: 0
                tamanhoAbertura:
                  description: 'Tamanho da abertura'
                  type: integer
                  minimum: 0
                corFalta:
                  description: 'Cores em falta'
                  type: array
                  items: { type: string }
                corExcesso:
                  description: 'Cores em excesso'
                  type: array
                  items: { type: string }
                energia:
                  description: 'Nível de energia'
                  type: integer
                  minimum: 0
                areasFamiliar:
                  description: 'Área familiar'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
                areasAfetivo:
                  description: 'Área afetiva'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
                areasProfissional:
                  description: 'Área profissional'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
                areasFinanceiro:
                  description: 'Área financeira'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
                areasMissao:
                  description: 'Área de missão'
                  type: string
                  enum: [pessimo, 'muito mal', mal, regular, bom, 'muito bom', excelente]
              type: object
      responses:
        '201':
          description: 'Anamnese criada com sucesso'
          content:
            application/json:
              schema:
                properties:
                  message: { description: 'Mensagem de sucesso', type: string }
                type: object
        '400':
          description: 'Requisição inválida'
        '422':
          description: 'Erros de validação'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
  '/api/v1/anamnese/{id}':
    delete:
      tags:
        - Anamneses
      summary: 'Excluir uma anamnese'
      description: 'Exclui uma anamnese existente'
      operationId: 5fe1d0c9fe635d727b9ca0b602ee5cab
      parameters:
        -
          name: id
          in: path
          description: 'ID do cliente'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Cliente deletado com sucesso'
        '401':
          description: 'Token inválido ou ausente'
        '404':
          description: 'Cliente não encontrado'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
  '/anamnese/{slug}':
    get:
      tags:
        - Anamneses
      summary: 'Consulta de anamnese sem login'
      description: 'Consulta aberta para compartilhamento com o cliente'
      operationId: 19f47510d07f04837b986af47c594f51
      parameters:
        -
          name: slug
          in: path
          description: 'Slug da anamnese'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Anamense encontrada'
        '404':
          description: 'Anamense encontrada'
        '500':
          description: 'Erro interno do servidor'
  /api/v1/login:
    post:
      tags:
        - Autenticação
      summary: 'Login do usuário'
      description: 'Autentica o usuário e retorna um token JWT'
      operationId: 3b889298fc72067506f70fb423b6a004
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: usuario@exemplo.com
                password:
                  type: string
                  format: password
                  example: '123456'
              type: object
      responses:
        '200':
          description: 'Token JWT gerado com sucesso'
          content:
            application/json:
              schema:
                properties:
                  token: { type: string, example: eyJhbGciOiJIUzI1NiIsInR... }
                type: object
        '401':
          description: 'Credenciais inválidas'
        '400':
          description: 'Dados de entrada inválidos'
  /api/v1/logout:
    get:
      tags:
        - Autenticação
      summary: 'Logout do usuário'
      description: 'Realiza logout e invalida o token JWT'
      operationId: f9413ca466b6033b3b76dbc7823c0d85
      responses:
        '200':
          description: 'Logout realizado com sucesso'
        '401':
          description: 'Token inválido ou ausente'
      security:
        -
          bearerAuth: []
  /api/v1/customers:
    get:
      tags:
        - Clientes
      summary: 'Listar todos os clientes'
      description: 'Retorna uma lista de clientes com paginação'
      operationId: cfef2f8160bbb288816b3fd50fbe699b
      parameters:
        -
          name: sort_by
          in: query
          description: 'Campo para ordenação dos resultados'
          required: false
          schema:
            type: string
            default: id
            enum:
              - id
              - update
        -
          name: order
          in: query
          description: 'Ordem de ordenação (ASC ou DESC)'
          required: false
          schema:
            type: string
            default: ASC
            enum:
              - ASC
              - DESC
        -
          name: s
          in: query
          description: 'Termo de busca para filtrar os clientes'
          required: false
          schema:
            type: string
        -
          name: limite
          in: query
          description: 'Número de itens por página'
          required: false
          schema:
            type: integer
            default: 15
            maximum: 200
        -
          name: page
          in: query
          description: 'Número da página para paginação'
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: 'Lista de clientes'
          content:
            application/json:
              schema:
                properties:
                  rows: { type: array, items: { type: object } }
                  pagination: { type: object }
                type: object
        '401':
          description: 'Token inválido ou ausente'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Clientes
      summary: 'Criar um novo cliente'
      description: 'Cria um novo cliente com os dados fornecidos'
      operationId: 42b0a2c98ea46de34f810bae6f78a3b2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                photo:
                  type: string
                  nullable: true
                birthDate:
                  type: string
                  format: date
                  nullable: true
                doc:
                  type: string
                  nullable: true
                generous:
                  type: string
                  nullable: true
              type: object
      responses:
        '201':
          description: 'Cliente criado com sucesso'
        '401':
          description: 'Token inválido ou ausente'
        '403':
          description: 'Usuário sem permissão'
        '422':
          description: 'Erro de validação'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
  '/api/v1/customers/{id}':
    get:
      tags:
        - Clientes
      summary: 'Obter detalhes de um cliente'
      description: 'Retorna os detalhes de um cliente específico'
      operationId: 41841ce6e3057a13ab532a7ab1f96af6
      parameters:
        -
          name: id
          in: path
          description: 'ID do cliente'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Detalhes do cliente'
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 'Token inválido ou ausente'
        '404':
          description: 'Cliente não encontrado'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
    put:
      tags:
        - Clientes
      summary: 'Atualizar um cliente'
      description: 'Atualiza os dados de um cliente existente'
      operationId: 05e9e14aa12404b2a58d51869e1505f7
      parameters:
        -
          name: id
          in: path
          description: 'ID do cliente'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                photo:
                  type: string
                  nullable: true
                birthDate:
                  type: string
                  format: date
                  nullable: true
                doc:
                  type: string
                  nullable: true
                generous:
                  type: string
                  nullable: true
              type: object
      responses:
        '200':
          description: 'Cliente atualizado com sucesso'
        '401':
          description: 'Token inválido ou ausente'
        '404':
          description: 'Cliente não encontrado'
        '422':
          description: 'Erro de validação'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - Clientes
      summary: 'Excluir um cliente'
      description: 'Exclui um cliente existente'
      operationId: b96d5675d3de38142446856e2258f0fb
      parameters:
        -
          name: id
          in: path
          description: 'ID do cliente'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Cliente deletado com sucesso'
        '401':
          description: 'Token inválido ou ausente'
        '404':
          description: 'Cliente não encontrado'
        '500':
          description: 'Erro interno do servidor'
      security:
        -
          bearerAuth: []
  /api/v1/user/me:
    get:
      tags:
        - Usuários
      summary: 'Obter informações do usuário autenticado'
      description: 'Retorna as informações do usuário autenticado usando JWT'
      operationId: c01da61cb97dc778549fec55810d4b26
      responses:
        '200':
          description: 'Informações do usuário'
          content:
            application/json:
              schema:
                properties:
                  id: { type: integer, example: 1 }
                  name: { type: string, example: 'John Doe' }
                  email: { type: string, example: john.doe@example.com }
                  role: { type: string, example: PROFISSIONAL }
                  type: { type: string, example: cache }
                type: object
        '401':
          description: 'Não autorizado'
      security:
        -
          bearerAuth: []
  /api/v1/users:
    get:
      tags:
        - Usuários
      summary: 'Listar usuários'
      description: 'Retorna uma lista de usuários, com cache usando Redis'
      operationId: fb3b9d612f472659bcf1ab9f534217bd
      responses:
        '200':
          description: 'Lista de usuários'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: cache }
                  data: { type: array, items: { properties: { user: { type: integer, example: 1 }, name: { type: string, example: 'John Doe' }, email: { type: string, example: john.doe@example.com } }, type: object } }
                type: object
        '401':
          description: 'Token inválido ou ausente'
        '403':
          description: 'Usuário sem permissão'
      security:
        -
          bearerAuth: []
  /api/v1/webhook/greem:
    post:
      tags:
        - Webhooks
      summary: 'Cria um usuário com base nas informações do webhook recebido da GREEM'
      description: "Processa o webhook da GREEM para criar ou atualizar um usuário com base nas informações da transação recebida.\n</br>O produto deverá ter sido cadastrado previamente informando o ID do produto da GREEM"
      operationId: a62fd0c904f83eeb85d63ca2c498ce33
      requestBody:
        description: 'Dados do webhook da GREEM.'
        required: true
        content:
          application/json:
            schema:
              properties:
                currentStatus:
                  description: 'Status atual da transação'
                  type: string
                  example: paid
                client:
                  description: 'Informações do cliente'
                  properties: { email: { description: 'Email do cliente', type: string }, name: { description: 'Nome do cliente', type: string }, cellphone: { description: 'Telefone do cliente', type: string } }
                  type: object
                product:
                  description: 'Informações do produto'
                  properties: { id: { description: 'ID do produto', type: integer }, name: { description: 'Nome do produto', type: integer } }
                  type: object
              type: object
      responses:
        '201':
          description: 'Transação processada com sucesso'
          content:
            application/json:
              schema:
                properties:
                  message: { description: 'Mensagem de sucesso', type: string }
                type: object
        '400':
          description: 'Requisição inválida'
        '401':
          description: 'Token inválido ou ausente'
        '403':
          description: 'Sem permissão para executar'
        '500':
          description: 'Erro interno do servidor'
  /:
    get:
      tags:
        - Status
      summary: 'Endpoint de status'
      description: 'Retorna o status da aplicação'
      operationId: 5b8bbea83af70a9a8a53b270333d2915
      responses:
        '200':
          description: 'Status da aplicação'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: Development }
                  version: { type: string, example: 1.0.0 }
                  php: { type: string, example: 8.1.2 }
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      bearerFormat: JWT
      scheme: bearer
tags:
  -
    name: Status
    description: ''
  -
    name: Autenticação
    description: 'Operações relacionadas à autenticação de usuários'
  -
    name: Usuários
    description: 'Gerenciamento de usuários'
  -
    name: Clientes
    description: 'Gerenciamento de clientes'
  -
    name: Anamneses
    description: 'Gerenciamento de Anamneses'
  -
    name: Webhooks
    description: 'Gerenciamento de Webhooks'
